.header{
  display: flex;
  flex: 1;
  justify-content: center;
  padding-top: 3rem;
}

.buttonHeader{
  padding-top: 10px;
}



@media screen and (min-width:768px) {
  .header {
    display: flex;
    flex: 1;
    gap: 50rem;
    padding-top: 3rem;
  }

  .buttonHeader {
    padding-top: 10px;
  }
}